/* general styling */
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}



/* making flexboxes */
#topvis {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    height:550px;
}

#left {
    display: flex;
    flex-direction: column;
    width: 62%;
    object-fit: contain;
}

#detailvis {
    display: flex;
    flex-direction: column;
    width: 38%;
    object-fit: contain;
}

#mainvis {
    height: 85%;
    object-fit: contain;
    justify-items: center;
}

#slider {
    height: 15%;
    object-fit: contain;
}


#indicatorselection {
    height: 5%;
    object-fit: contain;
}

#detailgraph {
    height: 65%;
    object-fit: contain;
}

#infobox {
    height: 35%;
    object-fit: contain;
    overflow: auto;
}

#legend_label {
    font-weight: bold;
}

/* line styling for visuals */
.Payroll {
    /*stroke: lightsalmon;*/
    stroke: rgb(49, 49, 183);
    stroke-width: 3px;
    fill: none;
    opacity: 100%;
    z-index: 0;
}

.CPI {
    /*stroke: lightsteelblue;*/
    stroke: rgb(27, 139, 27);
    stroke-width: 3px;
    fill: none;
    opacity: 100%;
    z-index: 0;
}

.PPI {
    /*stroke: aquamarine;*/
    stroke: rgba(211, 23, 23, 0.824);
    stroke-width: 3px;
    fill: none;
    opacity: 100%;
    z-index: 0;
}

.Unemployment_Claims {
    /*stroke: palegreen;*/
    stroke: purple;
    stroke-width: 3px;
    fill: none;
    opacity: 100%;
    z-index: 0;
}

.Unemployment_Rate {
    /*stroke: thistle;*/
    stroke: rgb(237, 138, 0);
    stroke-width: 3px;
    fill: none;
    opacity: 100%;
    z-index: 0;
}

.slideline {
    stroke:black;
    stroke-width: 1px;
    fill: none;
}

/* tootltip styling */
.tooltip{
  position: absolute;
  border:  solid;
  border-color: black;
  color: white;
  border-width: 3px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

/* info box styling */
.fulloutline {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.bottomoutline {
    border-bottom: 2px;;
    border-bottom-color: black;
    border-bottom-style: solid;
}