/* general styling */
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* making flexboxes */
#topvis {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    height:550px;
}

#left {
    display: flex;
    flex-direction: column;
    width: 65%;
    object-fit: contain;
}



#detailvis {
    display: flex;
    flex-direction: column;
    width: 35%;
    object-fit: contain;
}

#mainvis {
    height: 85%;
    object-fit: contain;
    justify-items: center;
}

#slider {
    background-color: cadetblue;
    height: 15%;
    object-fit: contain;
}


#indicatorselection {
    height: 5%;
    object-fit: contain;
    background-color: palevioletred;
}

#detailgraph {
    height: 65%;
    object-fit: contain;
    background-color: palegoldenrod;
}

#infobox {
    height: 30%;
    object-fit: contain;
    background-color: palevioletred;
}

/* line styling for visuals */
.payrollline {
    stroke:red;
    stroke-width: 2px;
    fill: none;
}

.cpiline {
    stroke:blue;
    stroke-width: 2px;
    fill: none;
}

.ppiline {
    stroke:purple;
    stroke-width: 2px;
    fill: none;
}

.claimsline {
    stroke:green;
    stroke-width: 2px;
    fill: none;
}

.urateline {
    stroke:orange;
    stroke-width: 2px;
    fill: none;
}

.payrolldetailline {
    stroke:orange;
    stroke-width: 2px;
    fill: none;
}

/* tootltip styling */
.tooltip{
  position: absolute;
  background-color: silver;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}

/* info box styling */
#detailtextbox {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.slider {
  width: 70%; /* Full-width */
  height: 25px; /* Specified height */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity .2s;

}
